RiotKit's docker container for Django Wiki
==========================================

###  Running

```bash
sudo docker run --name djangowiki_test --rm quay.io/riotkit/django-wiki:0.4.5
```

Configuration reference
-----------------------

List of all environment variables that could be used.

```yaml
{% for env_var, attrs in DOCKERFILE_ENVS.items() %}{% if attrs[2] %}# {{ attrs[2] }}{% endif %}
- {{ attrs[0] }} # (example value: {{ attrs[1] }})

{% endfor %}
```

Volumes
-------

- /project/wikiproject/settings/secret_key
- /project/wikiproject/media
- /project/wikiproject/db (important if using SQLite3 database)
