/*
 * Border on the navbar
 */
.navbar-inverse {
    border-bottom: 2px solid #d62626;
}

/*
 * Hover on the menu elements
 */
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #b32424;
}

#wiki-search-form {
    width: auto;
}
